<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download History</title>
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #333333;
            color: #ffffff;
            padding: 20px;
        }

        .content-box {
            background-color: #444;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Download History</h1>

    <div class="content-box">{{ command_history }}</div>
</body>
</html>
